ul {
  color: rebeccapurple; }
  ul li {
    background: rebeccapurple; }
  ul a {
    text-decoration: none; }
  ul span {
    display: inline-block; }

ol {
  display: inline;
  animation: animacion 1s infinite; }
  ol:hover {
    color: black; }
  ol::after {
    content: "";
    display: block; }
  @media screen and (min-width: 640px) {
    ol {
      display: flex; } }

@keyframes animacion {
  to {
    color: red; } }

.menu {
  display: relative;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto; }
  .menu-item {
    color: red; }
