.botones-goldenrod {
  background-color: goldenrod; }

.botones-rebeccapurple {
  background-color: rebeccapurple; }

.botones-peru {
  background-color: peru; }

.boton-boton {
  color: red; }

.boton-menus {
  color: green; }

.boton-sidebar {
  color: peru; }
