// tipos de datos en sass
// cadenas
// numeros
// colores
// booleanos
// maps
// list
// ****************
$variable:unquote('hola');
// funcion quote y unquote 
// quote-->pone comillas y unquote saca las comillas

body {
    background: type-of($variable);
    content: $variable;
}
// ****************

$variable2:5rem;

h1{
    background:type-of($variable2);
    padding:$variable2/8;
}
// ****************

$variable3:goldenrod;
h3{
    color: type-of($variable3);
}
// ****************

$variable4:true;
h3{
    color: type-of($variable4);
}
// ****************

$variable5:1px solid blue;
$variable5:1px ,solid, blue;
h5{
    color: type-of($variable5);
}
// ****************

$variable6:(
    color: #000000,
    size:5rem,
    content:'los gatos'
);
h6{
    background: type-of($variable6);
    color: map-get($map: $variable6, $key:color );
}