@import "mixins/mixins";
@import "variables/variables";

body {
    background: rebeccapurple;
    min-height: 100vh;

    @include mediaQuery(grande){
        background: green;
    };
    @include mediaQuery(mediano){
        background: red;
    }
    @include mediaQuery(superpequeño){
        background: red;
    }
    @include mediaQuery(2300px){
        background: red;
    }
}