// funciones en sass
@import "config/funciones";
@import "config/variables";

// OPCCIONES DE debugging
// node-sass --watch scss --output css --source-map=true
// genera un archivo style.css.map --> para poder hacer debuggin en el navegador




body{
    display: block;
    color: red;
    p{
        background-color: transparent;
    }
}