$texto:true;
$colores-botones:(
    primario:blue,
    secundario:orange,
    tercero:red,

);

$tamanos:(
    pequeño:320px,
    mediano:720px,
    grande:1024px,
    superGrande:1500px
);

$ruta:'/assets/img/';
